<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的名称与 dao接口的全限定名称保持一致 -->
<mapper namespace="com.ssm.core.dao.FileUploadDao">
	
	<!-- 标签的id 与 dao的方法名称 一致 -->
	<insert id="insertFileUpload" parameterType="com.ssm.core.pojo.FileUpload">
		insert into t_file_upload(originalname,realname,url,suffixname,filesize,module,fid) 
		values(#{originalname},#{realname},#{url},#{suffixname},#{filesize},#{module},#{fid})
	</insert>
	<select id="getFileUpload" parameterType="integer" resultType="com.ssm.core.pojo.FileUpload">
		select uid,originalname,realname,url,suffixname,filesize,module,fid from t_file_upload 
		where uid=#{uid}
	</select>
	<select id="queryFileUpload" parameterType="com.ssm.core.pojo.FileUpload" resultType="com.ssm.core.pojo.FileUpload">
		select uid,originalname,realname,url,suffixname,filesize,module,fid from t_file_upload
		<where>
		<if test="module!=null and module!=''">
			and module=#{module}
		</if>
		<if test="fid!=null">
			and fid=#{fid}
		</if>
		</where>
	</select>
	<delete id="delFileUploadByFid" parameterType="integer">
		delete from t_file_upload where fid=#{fid}
	</delete>
	<!-- 
	<update id="updateFileUpload" parameterType="com.ssm.user.pojo.User">
		update t_user set usercode=#{usercode},username=#{username},role=#{role} where userid=#{userid}
	</update>
	<update id="deleteFileUpload" parameterType="integer">
		update t_user set delflag=0 where userid in
		<foreach collection="array" open="(" close=")" separator="," item="id">
		#{id}
		</foreach>
	</update> 
	-->
</mapper>
